.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 100px;
}
.nav-items > ul {
  display: flex;
  padding: 0px 10px;
  justify-content: space-between;
  list-style-type: none;
}

.nav-items > ul > li {
  margin: 0 10px;
  font-size: 18px;
}

.res-card {
  padding: 5px;
}

.res-card:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: transform 0.2s ease-in-out;
}

.res-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 20px;
}

.shimmer-card{
  height: 220px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(to right, #f0f0f0 0%, #d9d9d9 50%, #f0f0f0 100%);
  background-size: 200% 100%;
}

.shimmer-line{
  height: 15px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  background-image: linear-gradient(to right, #f0f0f0 0%, #d9d9d9 50%, #f0f0f0 100%);
  background-size: 200% 100%;
}

.shimmer-sm{
  width: 30%;
}

.shimmer-md{
  width: 50%;
}


.menu-card{
  width: 100%;
  margin-bottom: 20px;
}


.menu-item-image{
  width: 156px;
  height: 144px;
  object-fit: cover;
  border-radius: 20px;
}

.res-link{
  text-decoration: none;
  color: black;
}

.user-card{
  width:max-content;
  border: 1px solid black;
  padding: 15px;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.userImg{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}